body {
    background: black;
    margin: 0;
}

#Title {
    margin: 10% 0 20%;
    padding: 0;
    display: block;
    width: 100%;
    background: rgba(17, 17, 17, 0);
    color: aliceblue;
    text-align: center;
    font-size: 2.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 2px aliceblue solid;
    border-bottom: 2px aliceblue solid;
}

.main-button {
    position: absolute;
    border: 2px aliceblue solid;
    border-radius: 1em;
    background: rgba(17, 17, 17, 0);
    color: aliceblue;
    margin: 0 0 0 50%;
    font-size: 3em;
    width: 300px;
    transition: background .4s, color .4s; 
    padding: .1em;
}

#play-button{
    top: 50%;
    transform: translate(-150px,0);
}

#option-button{
    top: 50%;
    transform: translate(-150px,2em)

}

.main-button:hover{
    background:aliceblue;
    color:rgb(17, 17, 17);
}

.screen1 {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.screen2 {
    display:none;
}

.screen3 {
    display:none;
}

#option-display{
    width: 100%;
    height:200px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    color:aliceblue;
    font-size: 7vh;
    border-bottom: aliceblue 2px solid;
    margin: 0;
    padding: 0;
}


#option-contents{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    color:aliceblue;
}
#option-contents li{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    color:aliceblue;
}


#ck-button-container{
    height: 100%;
    width:  50%;
    float: left;
}

#ck-button{
    position: relative;
    float: right;
    margin: 10px;
    height: 80px;
    width: 200px;
    border: 2px solid aliceblue;
    font-size: 2vh;
}

.volume-display{
    position: relative;
    float: right;
    margin: 10px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    border: none;
    font-size: 2vh;
}

#keybind-display{
    float: left;
    height: 100%;
    width: 50%;
    margin:0;
}

#Scroll-display{
    float: left;
    height: 100%;
    width: 301px;
    margin: 0 0 0 7px;
}

.ck-show{
    width: 60px;
    height: 60px;
    margin: 20px 10px;
    float: left;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;
    font-size: 3vh;
    border:aliceblue 2px solid;
}

#song-container{
    overflow: hidden;
    position: absolute;
    width: 30%;
    opacity: .8;
    border-right: 2px solid aliceblue;
    height: 100%;
    min-width: 210px;
    max-width: 350px;
    background: rgb(17, 17, 17);
}

#song-overflow{
    width: 100%;
    height: 100%;
    padding-right: 17px;
    overflow-y: scroll;
    box-sizing: content-box;
    background: rgb(17, 17, 17);
}
#imageBox{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("../song-bg/veritas1.jpg");
}

.imageStyle{
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    filter: blur(10px);
    opacity: .5;
}

#imageFade{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: block;
}

.imageFade{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .6),rgba(0, 0, 0, .3),rgba(0, 0, 0, .8), rgba(0, 0, 0, 1));
}

#difBox{
    top: 60%;
    position: absolute;
    width: 70%;
    min-width: 700px;
    left: 30%;
    height:275px;
    display: block;
    align-content: center;
    align-items: flex-start;
}

#difBoxContainer {
    width: max-content;
    display: block;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
}

#playDifContainer{
    width: max-content;
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.slidecontainer {
    width: 100%; 
}
  

.slider {
-webkit-appearance: none;  
appearance: none;
width: 100%; 
height: 20px; 
margin: 40px 0;
background: #d3d3d3; 
outline: none; 
opacity: 0.7; 
-webkit-transition: .2s;
transition: opacity .2s;
}
  
.slider:hover {
opacity: 1; 
}
  
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%; 
background: #4CAF50;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #4CAF50;
cursor: pointer;
}

.dif{
    overflow: hidden;
    float: right;
    width:175px;
    height:175px;
    background-color: rgba(17, 17, 17, .5);
    color: aliceblue;
    font-size: 5vmin;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
}

.dif p{
    margin: 0;
    padding: 0;
}

.song{
    padding-right: 17px;
    overflow: hidden;
    box-sizing: content-box;
    width:100%;
    background-color: rgba(17, 17, 17, 0);
    color: aliceblue;
    font-size: 1.25em;
    padding: 2em 17px 2em 0;
    border: none;
    border-bottom: 2px aliceblue solid;
}

#playDifButton{
    height: 100px;
    font-size: 42px;
}

.playbutton{
    background:rgba(17, 17, 17,.5);
    width: 100%;
    height: 100px;
    display:block;
    border: none;
}

header p {
    position: relative;
    display: block;
    margin: .5em 0;
}

#songInfoContainer{
    position: absolute;
    min-width: 490px;
    width:60%;
    height: 200px;
    background-image: url("../song-bg/veritas1.jpg");
    right:0;
    top:10%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

#InfoList{
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: aliceblue;
    
}

#InfoList li{
    margin-bottom: 25px;
    width: 100%;
    height: 50px;
    text-shadow: 2px 2px black;
}

#title{
    text-align: center;
    font-size: 4.5vh;
    margin-top: 30px;
    text-overflow: ellipsis;
}

#creator{
    position: relative;
    top: 35%;
    font-size: 20px;
    right: 5px;
    text-align: right;
}

#back{
    position: absolute;
    left: 12px;
    bottom: 12px;
    height: 80px;
    width: 200px;
    border: 2px solid aliceblue;
    color: aliceblue;
    font-size: 5vh;
    background: rgba(17, 17, 17,.2);
    transition: background .4s, color .4s; 
}
#back:hover{
    background:aliceblue;
    color:rgb(17, 17, 17);
}

#mute{
    position: absolute;
    right: 12px;
    bottom: 12px;
    height: 80px;
    width: 80px;
    border: 2px solid aliceblue;
    color: aliceblue;
    font-size: 5vh;
    background: rgba(17, 17, 17,.2);
    transition: background .4s, color .4s; 
}

.mutologo{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#off{
    display: none;
}

#mute:hover{
    background:aliceblue;
    color:rgb(17, 17, 17);
}

.popAni{
    -webkit-animation-name: 'pop';
    -webkit-animation-duration: .5s;
    animation-name: 'pop';
    animation-duration: .5s;
}
@-webkit-keyframes pop{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,0);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,-35.8px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}
@-o-keyframes pop{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,0);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,-35.8px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}
@-moz-keyframes pop{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,0);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,-35.8px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}
@keyframes pop{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,0);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,-35.8px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}

.popButtonAni{
    -webkit-animation-name: 'popButton';
    -webkit-animation-duration: .5s;
    -webkit-animation-name: 'popButton';
    -webkit-animation-duration: .5s;
    -webkit-animation-name: 'popButton';
    -webkit-animation-duration: .5s;
    animation-name: 'popButton';
    animation-duration: .5s;
}

@-webkit-keyframes popButton{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,96px);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,60.2px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}
@-o-keyframes popButton{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,96px);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,60.2px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}
@-moz-keyframes popButton{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,96px);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,60.2px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}
@keyframes popButton{
    from {background-color: rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);
        transform: translate(-150px,96px);
        width: 300px;
        height: 71.6px;
        opacity: 1;}
    to {background-color: rgba(0, 0, 0, 0);
        transform: translate(-300px,60.2px);;
        color: rgba(0, 0, 0, 0);
        width: 600px;
        height: 143.2px;
        opacity: 0;}
}



.fadeOutAni{
    -webkit-animation-name: 'fadeOut';
    -webkit-animation-duration: 1s;
    -webkit-animation-name: 'fadeOut';
    -webkit-animation-duration: 1s;
    -webkit-animation-name: 'fadeOut';
    -webkit-animation-duration: 1s;
    animation-name: 'fadeOut';
    animation-duration: 1s;
}

.fadeInAni{
    -webkit-animation-name: 'fadeIn';
    -webkit-animation-duration: 1s;
    -webkit-animation-name: 'fadeIn';
    -webkit-animation-duration: 1s;
    -webkit-animation-name: 'fadeIn';
    -webkit-animation-duration: 1s;
    animation-name: 'fadeIn';
    animation-duration: 1s;
}

.hoverinverse{
    transition: background .4s, color .4s; 
    color:aliceblue;
    background: rgb(17, 17, 17);
}

.hoverinverse:hover{
    background:aliceblue;
    color:rgb(17, 17, 17);
}

.green{
    transition: background .4s, color .4s; 
    border-top: greenyellow 2px solid;
}

.solidgreen{
    background:rgba(173, 255, 47,.15);
}

.green:hover{
    background:rgba(173, 255, 47,.3);
}

.solidyellow{
    background:rgba(192, 179, 0,.15);
}

.yellow{
    transition: background .4s, color .4s; 
    border-top: rgb(192, 179, 0) 2px solid;
}

.yellow:hover{
    background:rgba(192, 179, 0,.3);
}

.solidorange{
    background:rgba(255, 94, 0,.3);
}

.orange{
    transition: background .4s, color .4s; 
    border-top: rgba(255, 94, 0) 2px solid;
}

.orange:hover{
    background:rgba(255, 94, 0,.15);
}

.solidred{
    background: rgba(65, 8, 8,.3);
}

.red{
    transition: background .4s; 
    border-top: rgba(65, 8, 8) 2px solid;
}

.red:hover{
    background:rgba(65, 8, 8,.3);
}

.solidpurple{
    border:rgba(57, 0, 110,.15)
}

.purple{
    transition: background .4s; 
    border-top: rgba(57, 0, 110) 2px solid;
}

.purple:hover{
    background:rgba(57, 0, 110,.3);
}

.selected{
    background:aliceblue;
    color:rgb(17, 17, 17)
}

@-webkit-keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
@-o-keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
@-moz-keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}

@-o-keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}